{
  "presets": [
    "env", "react", "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    [ "transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
