{
  "parser": "babel-eslint",
  "extends": ["plugin:flowtype/recommended", "airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["jest", "flowtype", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/no-unused-prop-types": "off",
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": { "some": ["nesting", "id"] }
      }
    ]
  }
}
