/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string,
.hljs-doctag {
  color: #d14; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0; }

p {
  margin: 0 0 0.5em; }

strong {
  font-weight: bold; }

html {
  font-size: 14px; }

body {
  background-color: whitesmoke;
  color: #4a4a4a;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

a {
  color: #3273dc;
  text-decoration: underline; }
  a:hover {
    color: #4a4a4a;
    text-decoration: none; }

header {
  background-color: #3273dc;
  color: #fff;
  padding: 20px;
  text-align: center; }

main {
  background-color: #fff;
  padding: 20px; }
  @media (max-width: 880px) {
    main {
      padding: 20px 0; } }

footer {
  padding: 20px;
  text-align: center; }

section {
  margin-bottom: 20px; }
  section:last-child {
    margin-bottom: 0; }

pre {
  margin: 0;
  padding: 0; }
  pre code {
    font-size: 0.9rem; }

fieldset {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px; }

legend {
  color: #209cee;
  padding: 0 10px;
  font-size: 1.1rem; }

.row {
  display: flex;
  margin-left: -20px; }

.col {
  flex: 1;
  padding-left: 20px; }

.container {
  margin: 0 auto;
  max-width: 960px; }

@media (max-width: 767px) {
  .row, .col {
    display: block; }
  .col {
    padding-right: 20px; } }

.title {
  font-size: 2rem;
  font-weight: bold; }

.subtitle {
  font-size: 1.6rem;
  font-weight: bold; }

.section-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px; }
  .section-title + .section-subtitle {
    margin-top: -10px; }

.section-subtitle {
  color: #7a7a7a;
  font-size: 1rem;
  font-style: italic;
  margin: 0 0 10px; }

.field {
  display: flex;
  margin-bottom: 5px; }
  .field:last-child {
    margin-bottom: 0; }

.label {
  display: block;
  flex: 0 0 100px;
  line-height: 2.1em;
  padding-right: 5px;
  text-align: right; }

.checkbox .label {
  line-height: 1em;
  text-align: left; }

.control {
  flex: 1; }

.input[type="text"],
.input-select {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  font-size: 1rem;
  height: 2.1em;
  line-height: 1.5;
  padding: 0 10px;
  width: 100%; }
  .input[type="text"]:hover,
  .input-select:hover {
    border-color: #b5b5b5; }
  .input[type="text"]:focus,
  .input-select:focus {
    border-color: rgba(50, 115, 220, 0.5);
    box-shadow: 0 0 2px rgba(50, 115, 220, 0.3);
    outline: none; }

.input-select {
  background-color: #fff;
  box-shadow: none; }

.hljs {
  padding: 10px; }

.modules pre {
  white-space: normal; }

/*# sourceMappingURL=styles.css.map*/