@import 'vars';

// grid system

.row {
  display: flex;
  margin-left: -20px;
}
.col {
  flex: 1;
  padding-left: $gap;
}
.container {
  margin: 0 auto;
  max-width: $max-width;
}

@media (max-width: 767px) {
  .row, .col {
    display: block;
  }
  .col {
    padding-right: $gap;
  }
}

// titles

.title {
  font-size: 2rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.6rem;
  font-weight: bold;
}
.section-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: $gap / 2;

  & + .section-subtitle {
    margin-top: -$gap / 2;
  }
}
.section-subtitle {
  color: $grey;
  font-size: 1rem;
  font-style: italic;
  margin: 0 0 $gap / 2;
}

// forms

.field {
  display: flex;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  display: block;
  flex: 0 0 100px;
  line-height: 2.1em;
  padding-right: 5px;
  text-align: right;
}

.checkbox {
  .label {
    line-height: 1em;
    text-align: left;
  }
}

.control {
  flex: 1;
}

.input[type="text"],
.input-select {
  border: 1px solid $grey-lighter;
  border-radius: $radius;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  color: $grey-dark;
  display: block;
  font-size: 1rem;
  height: 2.1em;
  line-height: 1.5;
  padding: 0 10px;
  width: 100%;

  &:hover {
    border-color: $grey-light;
  }

  &:focus {
    border-color: fade-out($blue, 0.5);
    box-shadow: 0 0 2px fade-out($blue, 0.7);
    outline: none;
  }
}

.input-select {
  background-color: $white;
  box-shadow: none;
}

// code

.hljs {
  padding: $gap / 2;
}

.modules {
  pre {
    white-space: normal;
  }
}
