// colors

$black: hsl(0, 0%, 4%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: #fff;
$cyan: hsl(204, 86%, 53%);
$blue: hsl(217, 71%, 53%);

// structure

$gap: 20px;
$max-width: 960px;
$radius: 3px;

// typography

$base-font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-size: 14px;
