$color-black: #4a4a4a;
$color-gray-light: #dbdbdb;

$base-font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-size: 16px;

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  color: $color-black;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
}

code {
  font-size: 14px;
}

.row {
  display: flex;
}
.col {
  flex: 1 1 0;
}

.input {
  border: 1px solid $color-gray-light;
  border-radius: 3px;
  font-size: 1rem;
  height: 36px;
  margin: 0;
  padding: 5px 9px;
}