/* Bulma framework (import only needed components) */
@import '~bulma/sass/utilities/all';
@import '~bulma/sass/base/all';
@import '~bulma/sass/grid/all';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/form';
@import '~bulma/sass/elements/title';

pre {
  padding: $gap / 2;

  code {
    font-size: 0.8rem;
  }
}
.hljs {
  padding: 0;
}
