@import 'vars';
@import 'generic';
@import 'elements';

.row {
  display: flex;
}
.col {
  flex: 1 1 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1rem;
  font-weight: bold;
}
.section-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.section-subtitle {
  font-size: 1rem;
}